<p class="textcolor">
<center>
  <font size="8"> Maxx Turner constructed this site as best he could. May he RIP.</font>
  <br>
    <br>
    This picture sums up my life.
</center>
</p>
<center>
    <img class="sizeimage" align="middle" src="/hack.jpg">
    </img>
</center>