<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url('cat.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
</head>
<body>

<p class="textcolor">
<center>
  <font size="8"> Maxx Turner constructed this site as best he could. May he RIP.</font>
  <br>
    <br>
    This picture sums up my life.
</center>
</p>
<center>
    <img class="sizeimage" width="400" height="400" align="middle" src="/hacker.jpg">
    </img>
</center>