

<p id="error" class="h4headline"></p>







<br>
<center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.0034305293584!2d-80.19131478461986!3d39.89655547942891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8835a201c0bcc745%3A0x129dd3d551c9845f!2s145+W+High+St%2C+Waynesburg%2C+PA+15370!5e0!3m2!1sen!2sus!4v1476038869562" width="1500" height="800" align="center" frameborder="0" style="border:0" allowfullscreen></iframe></center>