<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url('Battle.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
</style>
</head>
<body>

<h1>G.I. JOE!!!</h1>

<p>This is how I live my life.</p>

</body>
</html>
