<!doctype html>

<head>
	
	<title>
		Maxx Made This!!
	</title>
	<link rel="stylesheet" href = "css/custom.css"/>
	<script type=” text/javascript” src=” js/formvalidation.js></script>
</head>

<body>


	<header>
	<p class="somecolor"; align="middle";>
	<img src="title.gif">
	</p>
			<ul>
					<li>
					<a href = "/">Home</a>
					</li>
					<li>
					<a href = "/about">About Me</a>
					</li>
					<li>
					<a href = "/contact">Contact Us</a>
					</li>
					<li>
					<a href = "/funnystuff">Funny Stuff</a>
					</li>
			</ul>
	</header>
<%=yield%>

</body>



<footer>
	<footer data-role="footer" data-position="fixed" align="middle">
       <p><a href = "http://www.minedminds.org"target = "_blank">Mined Minds</a><br>
       <a href="tel:724-250-8660">724-250-8660</a>
       <br>&copy; 2016</p>
</footer>
</html>


