<!doctype html>

<head>
	
	<title>
		Maxx Made This
	</title>
	<link rel="stylesheet" href = "css/custom.css"/>
</head>

<body>


	<header>
	<p class="somecolor">
	INFORMATION
	</p>
			<ul>
					<li>
					<a href = "/">Home</a>
					</li>
					<li>
					<a href = "/contact.erb">Contact Us</a>
					</li>
					<li>
					<a href = "/">Funny Stuff</a>
					</li>
			</ul>
	</header>
<%=yield%>

</body>



<footer>
	<footer data-role="footer" data-position="fixed">
       <p><a href = "http://www.minedminds.org"target = "_blank">Mined Minds</a><br>&copy; 2016</p>
</footer>
</html>


