<!doctype html>
<html>

	<head>
	<link rel="stylesheet" type="text/css" href = "custom.css"/>
	<title></title>
	</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href = "/">Home</a></li>
				<li><a href = "/contact.erb">Contact Us</a></li>
				<li><a href = "/">Funny Stuff</a></li>
				</li>
			</ul>
		</nav>
	</header>
	<%=yield%>
</body>
<footer>
	<footer data-role="footer" data-position="fixed">
       <p><a href = "http://www.minedminds.org"target = "_blank">Mined Minds</a><br>&copy; 2016</p>
</footer>
</html>


