<!doctype html>

<head>
	
	<title>
		Maxx Made This!!
	</title>
	<link rel="stylesheet" href = "css/custom.css"/>
	<script type=” text/javascript” src=” js/formvalidation.js></script>
</head>

<body>


	<header>
	<p class="somecolor"; align="middle"; background-color: transparent;>
	<img src="titlebar.gif">
	</p>
			<ul>
					<li>
					<a href = "/">Home</a>
					</li>
					<li>
					<a href = "/about">About Me</a>
					</li>
					<li>
					<a href = "/contact">Contact Us</a>
					</li>
					<li>
					<a href = "/funnystuff">Funny Stuff</a>
					</li>
			</ul>
	</header>
<%=yield%>

</body>
<center>
<!-- <p class="textcolor">
	Welcome to the Maxx's Crazy Fun House! What is your name?
</p>

<form name = "name_form" class = "form_box" onsubmit = 'return validateForm("name_form","input_name")' method = "post" action = "/name">
	<input type="text" name="input_name">
	<input type="submit">
</form>
<p id = "error"></p>
</center> -->



<footer>
	<footer data-role="footer" data-position="fixed" align="middle">
       <p><a href = "http://www.minedminds.org"target = "_blank">Mined Minds</a><br>
       <a href="tel:724-250-8660">724-250-8660</a><br>
       &copy; 2016</p>
</footer>
</html>


